{% extends "layout/base.html.twig" %}

{% block title %}Invoice{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>INVOICING</h1>
    <p class="important">
        Lorem ipsum. Text, something description. More random text for the website.
    </p>
    <p>{{ welcome_message }} {{ user_name }}!</p>
{% endblock %}
