<div class="invoice-title">
    <h4 class="float-right font-size-15">Invoice #DS0204 <span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
    <div class="mb-4">
        <h2 class="mb-1 text-muted">Bootdey.com</h2>
    </div>
    <div class="text-muted">
        <p class="mb-1">3184 Spruce Drive Pittsburgh, PA 15201</p>
        <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i> xyz@987.com</p>
        <p><i class="uil uil-phone me-1"></i> 012-345-6789</p>
    </div>
</div>